/* TYPORGRAF */
label p {
  color: rgba(66, 66, 168, 0.9);
  font-weight: 700;
}

.main-left h1 {
  text-align: center;
  color: rgba(66, 66, 168, 0.8);
}

/* LAYOUT */
.main-left {
  width: 35%;
  padding: 20px 30px;
  background: rgba(187, 187, 224, 0.6);
  border-radius: 10px;
  /* border: 1px solid black; */
}

#form-client {
  margin-top: 25px;
}

#form-client input {
  width: 100%;
  padding: 7px 5px;
  margin-bottom: 10px;
  margin-top: 5px;
  height: 36px;
  border: 1px solid gainsboro;
  border-radius: 5px;
}

#form-client input:focus {
  outline: none;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
}

.form-flex {
  justify-content: space-between;
}
