/* TYPOGRAF */
.main-right h1 {
  text-align: center;
  color: rgba(66, 66, 168, 0.8);
}
.tabel-barang th {
  color: rgba(66, 66, 168, 0.9);
  font-weight: 700;
}

/* LAYOUT */
.main-right {
  width: 64%;
  padding: 20px 30px;
  background: rgba(187, 187, 224, 0.6);
  border-radius: 10px;
  /* border: 1px solid black; */
}

/* FORM BARANG */
#form-barang {
  margin-top: 25px;
  justify-content: space-between;
}

#form-barang input,
.btn-add-barang {
  cursor: pointer;
  padding: 7px 5px;
  margin-bottom: 10px;
  margin-top: 5px;
  height: 36px;
  border: 1px solid gainsboro;
  border-radius: 5px;
}

#form-barang input:focus,
.btn-add-barang:focus,
.btn-submit:focus {
  outline: none;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
}

#form-nm_barang {
  width: 450px;
}

#form-jml_barang {
  width: 50px;
}

#form-hrg_satuan {
  width: 100px;
}

.btn-add-barang {
  width: 50px;
  align-self: flex-end;
}

/* TABEL */
.tabel-beli {
  margin-top: 20px;
  /* border: 1px solid black; */
}

.tabel-barang {
  border-collapse: collapse;
  width: 100%;
}

.tabel-barang tr:nth-child(1) {
  border-bottom: 1px solid rgba(66, 66, 168, 0.4);
}

.tabel-barang th,
.tabel-barang td {
  border-right: 1px solid rgba(66, 66, 168, 0.4);
}

.tabel-barang th:last-child,
.tabel-barang td:last-child {
  border-right: none;
}

.tabel-barang tr:nth-child(even) {
  background: rgba(187, 187, 224, 0.4);
}

.tabel-barang th {
  height: 30px;
}

.tabel-barang td {
  padding: 4px;
}

.td-center {
  text-align: center;
}

.td-right {
  text-align: right;
}

.btn-submit {
  cursor: pointer;
  padding: 7px 35px;
  margin-top: 15px;
  float: right;
  height: 36px;
  border: 1px solid gainsboro;
  border-radius: 5px;
}
