/* TYPORGRAF */
label p {
  color: rgba(66, 66, 168, 0.9);
  font-weight: 700;
}

.main-left h1 {
  text-align: center;
  color: rgba(66, 66, 168, 0.8);
}

/* LAYOUT */
.main-left {
  width: 35%;
  padding: 20px 30px;
  background: rgba(187, 187, 224, 0.6);
  border-radius: 10px;
  /* border: 1px solid black; */
}

#form-client {
  margin-top: 25px;
}

/* SELLER SWITCH */
.switch-seller {
  display: flex;
  margin-top: 5px;
  margin-bottom: 10px;
  overflow: hidden;
  /* border: 1px solid black; */
}

.switch-seller input {
  position: absolute !important;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  width: 1px;
  border: 0;
  overflow: hidden;
}

.switch-seller label {
  width: 100%;
  background: #e4e4e4;
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  line-height: 1;
  text-align: center;
  padding: 8px 16px;
  margin-right: -1px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  transition: all 0.1s ease-in-out;
}

.switch-seller label:hover {
  cursor: pointer;
}

.switch-seller input:checked + label {
  background: #a5dc86;
  box-shadow: none;
}

.switch-seller label:first-of-type {
  border-radius: 4px 0 0 4px;
}

.switch-seller label:last-of-type {
  border-radius: 0 4px 4px 0;
}

#form-client input[type="text"],
#form-client input[type="date"] {
  width: 100%;
  padding: 7px 5px;
  margin-bottom: 10px;
  margin-top: 5px;
  height: 36px;
  border: 1px solid gainsboro;
  border-radius: 5px;
}

#form-client input:focus {
  outline: none;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
}

#form-client .col {
  justify-content: space-between;
}

label[for="tanggal"],
label[for="faktur"] {
  width: 49%;
}
