header {
  background: #fff;
  padding: 10px 0;
}

header .container {
  justify-content: space-between;
  /* flex-direction: column; */
}

.logo {
  background: url(../img/logo-tr.png);
  width: 55px;
  height: 53px;
  background-size: cover;
  /* border: 1px solid green; */
}

.header-left {
  width: 20%;
  border: 1px solid red;
}

.header-right {
  width: 79%;
  border: 1px solid red;
}

nav ul {
  list-style-type: none;
  justify-content: space-around;
}

nav li {
  /* border: 1px solid blue; */
}

nav a {
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  line-height: 50px;
  color: rgb(241, 118, 104);
  /* width: 100%; */
  text-align: center;
  /* border-top: 1px solid salmon; */
}

nav a:hover,
nav a:active {
  color: rgb(66, 66, 168);
}

@media only screen and (min-width: 568px) {
  .header-left {
    width: 55%;
  }

  .header-right {
    width: 39%;
  }

  .logo {
    background: url(../img/logo-full.jpg);
    width: 100%;
    height: 50px;
    /* width: 55px;
    height: 53px; */
    background-size: contain;
    background-repeat: no-repeat;
    /* border: 1px solid green; */
  }
}
