/* TYPOGRAFI */
nav a {
  font-size: 1.1em;
  font-weight: 700;
  color: rgba(66, 66, 168, 0.9);
}

nav a:hover,
nav a:active {
  color: rgb(31, 31, 124);
}

/* LAYOUT */
header {
  background: rgba(187, 187, 224, 0.6);
  padding: 10px 0;
}

header .container {
  /* border: 1px solid black; */
  /* flex-direction: column; */
}
nav {
  margin: 0 auto;
  width: 300px;
  /* border: 1px solid red; */
}

nav ul {
  list-style-type: none;
  justify-content: space-around;
}

nav li {
  /* border: 1px solid blue; */
}

nav a {
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  line-height: 50px;
  /* width: 100%; */
  text-align: center;
  /* border-top: 1px solid salmon; */
}
